@model EventsViewModel

@if (Model.ViewType == PanelViewType.UPCOMING_EVENTS)
{
    <h3>Wydarzenia zaplanowane</h3>
}
else
{
    <h3>Wydarzenia zakończone</h3>
}
<br />
<table id="organizer-table" class="table table-striped">
    <thead>
        <tr>
            <th scope="col">
                @Html.DisplayNameFor(model => model.DefaultEvent.Name)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.DefaultEvent.Date)
            </th>
            @if (Model.ViewType == PanelViewType.UPCOMING_EVENTS)
            {
                <th scope="col">
                    @Html.DisplayNameFor(model => model.DefaultEvent.RequiredPoints)
                </th>
            }
            else
            {
                <th scope="col">
                    @Html.DisplayNameFor(model => model.DefaultEvent.CollectedMoney)
                </th>
            }
            <th scope="col">
                @Html.DisplayNameFor(model => model.DefaultEvent.Address)
            </th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.EventViewModels)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                @if (Model.ViewType == PanelViewType.UPCOMING_EVENTS)
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.RequiredPoints)
                    </td>
                }
                else
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.CollectedMoney)
                    </td>
                }
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @if (Model.ViewType == PanelViewType.UPCOMING_EVENTS)
                    {

                        <div class="btn-group" role="group">
                            <a class="btn btn-success" asp-controller="EventDetailsManagement" asp-action="PlannedEventDetails" asp-route-eventId="@item.EventId" data-toggle="tooltip" data-placement="top" title="Szczegóły wydarzenia">
                                <i class="far fa-list-alt"></i>
                            </a>
                            <a class="btn btn-primary" asp-controller="EventsManagement" asp-action="UpdateEvent" asp-route-eventId="@item.EventId" data-toggle="tooltip" data-placement="top" title="Edytuj wydarzenie">
                                <i class="fas fa-edit"></i>
                            </a>
                            <a class="btn btn-danger" href="#" data-toggle="tooltip" data-placement="top" title="Usuń wydarzenie"
                               onclick="deleteAlert(
                                    'OrganizerPanelArea',
                                    'EventsManagement',
                                    'DeleteEvent',
                                    'EventId',
                                    @item.EventId,
                                    'wydarzenie &quot;@item.Name&quot;',
                                    event)">
                                <i class="fas fa-trash-alt"></i>
                            </a>
                        </div>
                    }
                    else
                    {
                        <a class="btn btn-success" asp-controller="EventDetailsManagement" asp-action="PastEventDetails" asp-route-eventId="@item.EventId" data-toggle="tooltip" data-placement="top" title="Szczegóły wydarzenia">
                            <i class="far fa-list-alt"></i>
                        </a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
