@model EventsViewModel

<a asp-action="CreateEvent">Create</a>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DefaultEvent.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DefaultEvent.OrganizerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DefaultEvent.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DefaultEvent.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DefaultEvent.RequiredPoints)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DefaultEvent.Address)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.EventViewModels)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OrganizerName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RequiredPoints)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.ActionLink("Szczegóły", "Details", new { eventId = item.EventId }) |
                    @Html.ActionLink("Usuń", "DeleteEvent", new { eventId = item.EventId }) |
                </td>
            </tr>
        }
    </tbody>
</table>
