@model EventsViewModel

@if (Model.ViewType == PanelViewType.ARCHIVED_EVENTS)
{
    <h3>Wydarzenia zakończone</h3>

    <a class="btn btn-outline-dark" asp-controller="VolunteerPanel" asp-action="EventsWithoutOpinion">Wydarzenia bez opinii</a>
    <br />
}
else if (Model.ViewType == PanelViewType.EVENTS_WITHOUT_OPINION)
{

    <h3>Wydarzenia bez opinii</h3>
    <a class="btn btn-outline-dark" asp-controller="VolunteerPanel" asp-action="ArchivedEvents">Wydarzenia zakończone</a>
    <br />
}
else
{
    <h3>Wydarzenia nadchodzące</h3>
}

<br />

<table id="@(Model.ViewType == PanelViewType.ARCHIVED_EVENTS ? " volunteer-table-archived " : "volunteer-table ")" class="table table-striped">
    <thead>
        <tr>
            <th scope="col">
                @Html.DisplayNameFor(model => model.DefaultEvent.Name)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.DefaultEvent.OrganizerName)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.DefaultEvent.Date)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.DefaultEvent.Address)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.DefaultEvent.RequiredPoints)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.DefaultEvent.ReceivedPoints)
            </th>
            @if (Model.ViewType == PanelViewType.ARCHIVED_EVENTS)
            {
                <th scope="col">
                    @Html.DisplayNameFor(model => model.DefaultEvent.IsRated)
                </th>
            }
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.EventViewModels)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OrganizerName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RequiredPoints)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReceivedPoints)
                </td>
                @if (Model.ViewType == PanelViewType.ARCHIVED_EVENTS)
                {
                    <td>
                        @(item.IsRated ? "Tak" : "Nie")
                    </td>
                }
                <td>
                    <div class="btn-group" role="group">
                        <a class="btn btn-success" asp-action="EventDetails" asp-route-eventId="@item.EventId" data-toggle="tooltip" data-placement="top" title="Szczegóły wydarzenia">
                            <i class="far fa-list-alt"></i>
                        </a>
                        <a class="btn btn-danger" href="#"
                           onclick="deleteAlert(
                                    'VolunteerPanelArea',
                                    'VolunteerPanel',
                                    'RemoveVolunteerFromEvent',
                                    'EventId',
                                    @item.EventId,
                                    'wydarzenie @item.Name',
                                    event)">
                            <i class="fas fa-trash-alt"></i>
                        </a>
                        @{
                            if (Model.ViewType == PanelViewType.ARCHIVED_EVENTS | Model.ViewType == PanelViewType.EVENTS_WITHOUT_OPINION)
                            {
                                if (item.IsRated)
                                {
                                    <a class="btn btn-warning" asp-action="UpdateOpinionAboutEvent" asp-route-eventId="@item.EventId" data-toggle="tooltip" data-placement="top" title="Aktualizuj opinię">
                                        <i class="far fa-star"></i>
                                    </a>
                                }
                                else
                                {
                                    <a class="btn btn-danger" asp-action="AddOpinionAboutEvent" asp-route-eventId="@item.EventId" data-toggle="tooltip" data-placement="top" title="Dodaj opinię">
                                        <i class="far fa-star"></i>
                                    </a>
                                }
                            }
                        }
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
