@model EventsViewModel

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrganizerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RequiredPoints)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReceivedPoints)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.EventViewModels)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrganizerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RequiredPoints)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReceivedPoints)
            </td>
            <td>
                @switch (Model.ViewType)
                {
                    case VolunteerPanelViewType.UPCOMING_EVENTS:
                    @Html.ActionLink("Szczegóły", "Details", new { id = item.EventId }) @:|
                    break;
                    case VolunteerPanelViewType.ARCHIVED_EVENTS:
                    @Html.ActionLink("Szczegóły", "Details", new { id = item.EventId }) @:|
                    break;
                    case VolunteerPanelViewType.EVENTS_WITHOUT_OPINION:
                    @Html.ActionLink("Szczegóły", "Details", new { id = item.EventId }) @:|
                    break;
                }
            </td>
        </tr>
        }
    </tbody>
</table>
