@model WolontariuszPlus.Areas.OrganizerPanelArea.Models.EventDetailsViewModel
@{
    ViewData["Title"] = "Szczegóły wydarzenia";
}
<div>
    <h2 style="text-align: center">Szczegóły wydarzenia</h2>
    <div class="card m-4" style="min-width: 20rem">
        <img class="card-img-top" src="~/@WolontariuszPlus.Properties.Resources.UploadsFolderName/@Model.ImageRelativePath" alt="zdjecie-tytulowe-wydarzenia">
        <div class="card-body flex-body" style="        text-align: center">
            <h3>@Html.DisplayFor(model => model.Name)</h3>
            <h6>
                @{string apartmentNumber = (Model.Address.ApartmentNumber != null ? ("/" + Model.Address.ApartmentNumber.ToString()) : ""); }
                Adres:<br />
                @Model.Address.Street @Model.Address.BuildingNumber@apartmentNumber<br />
                @Model.Address.PostalCode @Model.Address.City
            </h6>
            <h6>@Html.DisplayFor(model => model.Date)</h6>
            @*<h5>@Html.DisplayNameFor(model => model.): @Html.DisplayFor(modelItem => item.OrganizerName)</h5>*@
        </div>
        <hr />
        <div class="card-body flex-body" style="text-align: center">
            <p class="card-text">@Html.DisplayFor(model => model.Description)</p>
        </div>
        <div class="card-footer text-muted" style="background-color:rgba(0,0,0,.03); text-align:center">
            @*Organizator: @Html.DisplayFor(model => Model.Organizer.FullName)
                <br />
                Wymagane punkty: @Html.DisplayFor(modelItem => Model.RequiredPoints)*@
        </div>
    </div>
    @if (Model.ViewType == PanelViewType.ARCHIVED_EVENTS)
    {
        <h3 style="text-align:right"> @Html.DisplayNameFor(model => model.CollectedMoneySum): @Html.DisplayFor(model => model.CollectedMoneySum),00 zł</h3>
    }
    <br /><br />
    <h4>Uczestnicy wydarzenia:</h4>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.DefaultVolunteer.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DefaultVolunteer.Email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DefaultVolunteer.PhoneNumber)
                </th>
                @if (Model.ViewType == PanelViewType.ARCHIVED_EVENTS)
                {
                    <th>
                        @Html.DisplayNameFor(model => model.DefaultVolunteer.CollectedMoney)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DefaultVolunteer.ReceivedPoints)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DefaultVolunteer.IsRated)
                    </th>
                    <th></th>
                }
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var v in Model.Volunteers)
            {
                <tr>
                    <td>
                        @*<a class="btn btn-success" asp-controller="EventDetailsManagement" asp-action="VolunteerProfile" asp-route-id="@v.VolunteerOnEventId"> </a>*@                                             @*TUTAJ*@

                        @Html.DisplayFor(modelItem => v.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => v.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => v.PhoneNumber)
                    </td>
                    @if (Model.ViewType == PanelViewType.ARCHIVED_EVENTS)
                    {
                        <td>
                            @Html.DisplayFor(modelItem => v.CollectedMoney) zł
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => v.ReceivedPoints)
                        </td>
                        <td>
                            @(v.IsRated ? "Tak" : "Nie")
                        </td>
                    }
                    <td>
                        <div class="btn-group" role="group">
                            @if (Model.ViewType == PanelViewType.ARCHIVED_EVENTS && Model.CanModify)
                            {
                                var opinionText = v.IsRated ? "Aktualizuj opinię" : "Wystaw opinię";
                                var moneyText = v.CollectedMoney == 0 ? "Dodaj zebraną kwotę" : "Aktualizuj zebraną kwotę";

                                @Html.ActionLink(opinionText, "RateVolunteer", "EventDetailsManagement", new { volunteerOnEventId = v.VolunteerOnEventId }) @:|
                                @Html.ActionLink(moneyText, "AddMoney", "EventDetailsManagement", new { volunteerOnEventId = v.VolunteerOnEventId, collectedMoney = v.CollectedMoney }) @:|
                                @Html.ActionLink("Zobacz opinie", "ViewOpinion", "EventDetailsManagement", new { volunteerOnEventId = v.VolunteerOnEventId })


                                @*if (v.IsRated)
                                    {
                                        <a class="btn btn-success" asp-action="RateVolunteer" asp-route-eventId="@v.VolunteerOnEventId" data-toggle="tooltip" data-placement="top" title="Aktualizuj opinię">
                                            <i class="far fa-star"></i>
                                        </a>
                                    }
                                    else
                                    {
                                        <a class="btn btn-warning" asp-action="RateVolunteer" asp-route-eventId="@v.VolunteerOnEventId" data-toggle="tooltip" data-placement="top" title="Wystaw opinię">
                                            <i class="far fa-star"></i>
                                        </a>
                                    }

                                    if (v.CollectedMoney == 0)
                                    {
                                        <a class="btn btn-warning" asp-action="AddMoney" asp-route-eventId="@v.VolunteerOnEventId" data-toggle="tooltip" data-placement="top" title="Dodaj zebraną kwotę">
                                            <i class="fas fa-hand-holding-usd"></i>
                                        </a>
                                    }
                                    else
                                    {
                                        <a class="btn btn-success" asp-action="AddMoney" asp-route-eventId="@v.VolunteerOnEventId" data-toggle="tooltip" data-placement="top" title="Aktualizuj zebraną kwotę">
                                            <i class="fas fa-hand-holding-usd"></i>
                                        </a>
                                    }
                                    <a class="btn btn-success" asp-action="ViewOpinion" asp-route-eventId="@v.VolunteerOnEventId" data-toggle="tooltip" data-placement="top" title="Zobacz opinie">
                                        <i class="fas fa-gavel"></i>
                                    </a>*@

                            }
                            else if (Model.ViewType == PanelViewType.UPCOMING_EVENTS)
                            {
                                <a class="btn btn-success" asp-controller="EventDetailsManagement" asp-action="VolunteerProfile" asp-route-id="@v.VolunteerOnEventId">
                                    <i class="far fa-list-alt"></i>
                                </a>
                                <a class="btn btn-danger" href="#"
                                   onclick="deleteAlert(
                                    'OrganizerPanelArea',
                                    'EventDetailsManagement',
                                    'RemoveVolunteerFromEvent',
                                    'VolunteerOnEventId',
                                    @v.VolunteerOnEventId,
                                    'wolontariusza @v.Name z wydarzenia',
                                    event)">
                                    <i class="fas fa-trash-alt"></i>
                                </a>
                            }
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
@*<div>
        @if (Model.ViewType == PanelViewType.UPCOMING_EVENTS)
        {
            <a asp-controller="OrganizerPanel" asp-action="EventsList">Wróć do listy planowanych wydarzeń</a>
        }
        else
        {
            <a asp-controller="OrganizerPanel" asp-action="PastEvents">Wróć do listy zakończonych wydarzeń</a>
        }
    </div>*@