@model WolontariuszPlus.Areas.OrganizerPanelArea.Models.EventDetailsManagement.RateVolunteerViewModel

<div class="col-md-9">
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-md-12">
                    @{ 
                        var title = "Wystaw opinię wolontariuszowi";

                        if (!string.IsNullOrEmpty(Model.RateContent))
                        {
                            title = "Aktualizuj opinię o wolontariuszu";
                        }
                    }
                    <h4 style="text-align:center">@title</h4>
                    <hr>
                    <h6 style="text-align:center">@title <b>@Html.DisplayFor(m => m.VolunteerName)</b> za wydarzenie <b>"@Html.DisplayFor(m => m.EventName)"</b></h6>
                    <h6 style="text-align:center">Wolontariusz zgromadził <b>@Html.DisplayFor(m => m.CollectedMoney) zł</b> na tym wydarzeniu.</h6>
                    <hr>
                </div>
            </div>
            <form asp-action="RateVolunteer">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <input type="hidden" asp-for="VolunteerOnEventId" />
                <div class="form-group" style="align-content:center">
                    <label asp-for="RateContent" class="control-label"></label>
                    <textarea asp-for="RateContent" class="form-control" rows="7"></textarea>
                    <span asp-validation-for="RateContent" class="text-danger"></span>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-12" align="center">
                        <input type="submit" value="Wystaw opinię" class="btn btn-outline-primary" />
                        <a class="btn btn-outline-danger" asp-action="PastEventDetails" asp-route-eventId="@Model.EventId">Powrót</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>