@model UserViewModel

<div class="col-md-12">
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-md-10">
                    <h4>Dane osobowe użytkownika: @foreach (var item in Model.UserViewModelList)
                    {
                        @Html.DisplayFor(model => item.FirstName)
                    }
                    </h4>
                    <hr>
                </div>
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.FirstName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.LastName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.PhoneNumber)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.City)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Street)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.BuildingNumber)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ApartmentNumber)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.PostalCode)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.PESEL)
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var v in Model.UserViewModelList)
                    {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => v.FirstName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => v.LastName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => v.PhoneNumber)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => v.City)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => v.Street)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => v.BuildingNumber)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => v.ApartmentNumber)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => v.PostalCode)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => v.PESEL)
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>