@model UserViewModel
@{
    ViewData["Title"] = "Profil wolontariusza";
}
<div class="col-md-12">
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-md-10">
                    <h4>
                        Dane osobowe użytkownika
                    </h4>
                    <hr>
                </div>
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.FirstName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.LastName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.PhoneNumber)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.City)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Points)
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var v in Model.UserViewModelList)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => v.FirstName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => v.LastName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => v.PhoneNumber)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => v.City)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => v.Points)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>