@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles {
    <link rel="stylesheet" href="~/css/personal-data.css" />
    <link rel="stylesheet" href="~/css/organizer-panel/organizer-panel.css" />
}

@section Scripts {
    @RenderSection("Scripts", false)
}
<div class="flex-kama">
    <div><h1>Panel organizatora</h1></div>
    <div>
        <span style="color: Dodgerblue; float:right">
            <h1><a asp-controller="EventsManagement" asp-action="CreateEvent" data-toggle="tooltip" data-placement="top" title="Tooltip on top"><i class="fas fa-plus-square fa-32x"></i></a></h1>
        </span>
    </div>
</div>
<hr />
<div class="container">
    <div class="row">
        <div class="col-md-3 mb-4">
            <div class="list-group">
                @{
                    var actionName = ViewContext.RouteData.Values["Action"].ToString();
                }

                <a asp-controller="OrganizerPanel"
                   asp-action="EventsList"
                   class="list-group-item list-group-item-action 
                   @(actionName == "EventsList" || actionName == "PlannedEventDetails" || actionName == "UpdateEvent" ? "active" : "")">
                    Wydarzenia zaplanowane
                </a>
                <a asp-controller="OrganizerPanel"
                   asp-action="PastEvents"
                   class="list-group-item list-group-item-action @(actionName.Contains("PastEvent") ? "active" : "")">
                    Wydarzenia zakończone
                </a>
                <a asp-controller="OrganizerPanel"
                   asp-action="PersonalData"
                   class="list-group-item list-group-item-action @(actionName == "PersonalData" ? "active" : "")">
                    Dane osobowe
                </a>
            </div>
        </div>
        <div class="col-md-9">
            @RenderBody()
        </div>
    </div>
</div>