@model WolontariuszPlus.Models.Event
@{
    ViewData["Title"] = "Szczegóły wydarzenia";
}
<div>
    <h2 style="text-align:center">Szczegóły wydarzenia</h2>
    <div class="card m-4" style="min-width:20rem">
        <img class="card-img-top" src="~/@WolontariuszPlus.Properties.Resources.UploadsFolderName/@Model.ImageRelativePath" alt="zdjecie-tytulowe-wydarzenia">
        <div class="card-body flex-body" style="text-align: center">
            <h3>@Html.DisplayFor(model => model.Name)</h3>
            <h6>
                @{string apartmentNumber = (Model.Address.ApartmentNumber != null ? ("/" + Model.Address.ApartmentNumber.ToString()) : ""); }
                Adres:<br />
                @Model.Address.Street @Model.Address.BuildingNumber@apartmentNumber<br />
                @Model.Address.PostalCode @Model.Address.City
            </h6>
            <h6>@Html.DisplayFor(model => model.Date)</h6>
        </div>
        <hr />
        <div class="card-body flex-body" style="text-align: center">
            <p class="card-text">@Html.DisplayFor(model => model.Description)</p>



            @*<div class="row button-bottom">
                    <div class="col">
                        @if (User.Identity.IsAuthenticated && User.IsInRole(Roles.VolunteerRole))
                        {
                            @if (item.IsOnEvent)
                            {
                                <div class="btn disabled btn-success">Jesteś zapisany!</div>
                            }
                            else if (ViewBag.VolunteerPoints >= item.RequiredPoints)
                            {
                                <a href="@Url.Action("AddVolunteerToEvent", new { eventId = item.EventId })" class="btn btn-primary">Zapisz się!</a>
                            }
                            else
                            {
                                <div class="btn disabled btn-outline-secondary">Za mało punktów!</div>
                            }
                        }
                    </div>
                </div>*@



        </div>
        <div class="card-footer text-muted" style="background-color:rgba(0,0,0,.03); text-align: center">
            Organizator: @Html.DisplayFor(modelItem => Model.Organizer.FullName)
            <br />
            Wymagane punkty: @Html.DisplayFor(modelItem => Model.RequiredPoints)
        </div>
    </div>
</div>